a {
  color: black;
  font-family: "Gotham Book SSm", "Gotham Book", "system", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.header { 
  background-image: url("http://tesla-cdn.thron.com/delivery/public/image/tesla/27d0055c-b0bf-476c-b3aa-ec59d314f871/bvlatuR/std/2880x2400/Desktop-SolarPanels");
	background-size: cover;
  background-position: center;
	position: relative;
}

.model-s { 
  background-image: url("http://tesla-cdn.thron.com/delivery/public/image/tesla/bf5ec633-7cc2-4acb-8944-a74816e76f3e/bvlatuR/std/2880x2400/Desktop-ModelS");
	background-size: cover;
  background-position: center;
	position: relative;
}

.model-3 { 
  background-image: url("http://tesla-cdn.thron.com/delivery/public/image/tesla/05f64d73-090b-4839-9ed0-5ce18f7fa5de/bvlatuR/std/2880x2400/Desktop-Model3");
	background-size: cover;
  background-position: center;
	position: relative;
}

.model-x { 
  background-image: url("http://tesla-cdn.thron.com/delivery/public/image/tesla/e5c1a384-6ca5-4785-9dd8-23eb0f4b1f7a/bvlatuR/std/2880x2400/Desktop-ModelX");
	background-size: cover;
  background-position: center;
	position: relative;
}

.model-y { 
  background-image: url("http://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY");
	background-size: cover;
  background-position: center;
	position: relative;
}

.solar-roof { 
  background-image: url("http://tesla-cdn.thron.com/delivery/public/image/tesla/8e5e03a8-6bf2-49a1-b539-bee49aa0f3be/bvlatuR/std/2880x2400/Desktop-SolarRoof");
	background-size: cover;
  background-position: center;
	position: relative;
}

.accessories { 
  background-image: url("http://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories");
	background-size: cover;
  background-position: center;
	position: relative;
}

.mt-5 {
  margin-top: 8rem!important;
}